body{



}

nav{
max-width: 1000px;
height: 3rem;
display: flex;
justify-content: flex-end;
align-items: center;


}

img{
    height: 90%;
    margin: auto auto auto 0.5rem; 
}

nav a {
margin: 1rem;
text-decoration: none;
color: lightgray;

}


nav a:hover{
    background-color: black;
}